<!-- Services List -->
<div class="grid_16 services yoxview">
	<div id="icon-portfolio"></div>
        <h1>Instagram - Latest images published</h1>
</div>	

<% @pictures.each do |pic| %>
  <div id="<%= pic.id %>"class="grid_4 portfolio yoxview <%=strip_tags( pic.tags )%>">	
      <div class="portfolio-ribbon"></div>
      <a href="<%=pic.images.standard_resolution.url%>"><img src="<%=pic.images.low_resolution.url%>" width="190"  height="190"/></a>
      <div class="portfolio-page"></div>
      <h1>By: <%= pic.user.username %></h1>
  </div>
<% end %> 

