<!DOCTYPE html> 
<html id="home" lang="en"> 
<head> 
  <meta charset=utf-8 />
  <meta name="viewport" content="width=940" />
  <title>Riding Rails | Learning on.... </title>
  <!-- Theme Style -->
  <%= stylesheet_link_tag 'app/general' %>
  <%= stylesheet_link_tag 'style/style' %>
  <%= stylesheet_link_tag 'font' %>
  <!--[if IE 8]> <style> @import url("/css/style/ie8.css"); </style> <![endif]-->
  <!-- JS -->
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'%>
  <%= javascript_include_tag 'general'%>
  <%= javascript_include_tag 'filter'%>
  <%= javascript_include_tag 'general'%>
  <%= javascript_include_tag 'yoxview/yoxview-init'%>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".yoxview").yoxview();
    });
  </script>
</head>

<body>
	<!-- Container Start -->
        <div class="container_16">
 		<div class="top-search grid_16"></div>  <!-- Navigation Menu -->
		<div class="grid_16">
			<div id="navi">         
	        		<div id="menu" class="default">
					<div id="logo-top"></div>
				        <div id="logo-back"></div> 
					<ul class="sf-menu">
						<!-- Home Menu-->
						<li class="current"><a href="http://klr20mg.com">Tmeister</a></li>
						<!-- Theme Menu-->
                                        </ul>
			        </div><!-- close menu --> 
    			</div><!-- close navi -->
			<div class="grid_6"></div>
			<div id="page-shape-air"></div>
		</div>
                
                <%= yield%>

                <div class="grid_16 footer">
			<div id="footer-shape"></div>
			<div class="grid_8 footer-link">
				<p>Copright © 2011 All photos © their respective owners. W3C standart web valid xhtml and css</p>
			</div>
			<div class="grid_7 footer-button">
				<ul>
			        	<li><a href="http://facebook.com/tmeister"><img src="/images/theme/footer-facebook.png" width="24" height="24"></a></li>
				        <li><a href="http://twitter.com/tmeister"><img src="/images/theme/footer-twitter.png" width="24" height="24"></a></li>
				</ul>
			</div>
		</div>  
		<div class="grid_16 clear-footer"></div>
	</div><!-- Container End -->
</body> 
</html> 





